#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$dQVZErj3lCYZIW11$C2yjXzFjqZpgoT7jQtfnQDCQ1UkunJ.fmQ765JB4kUkw3RDJVSZT3Rp4RVZkkzWC2tvQgeHXWMrfD1yvY8emv/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=senthil --password=$6$2f/xYAX2gM29nuTE$sdE2l2KeoPJyNFewLuhdhTtOPSDYIwVCxzZXSmdORYC9EoAHsPfx40Oio8LefonVgxf9c4N3DuuI4QlWgRhoD0 --iscrypted --gecos="senthil"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
